<head>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    pre {
      margin: 0;
      padding-left: 1em;
      border-bottom: #dddddd 1px solid;
    }
    pre:before {
      content: "> ";
      color: #999999;
      font-weight: bold;
    }
    .console {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .console .controls {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      padding: 1em;
      background: rgba(0, 0, 0, 0.25);
    }
  </style>
  <meta charset="utf-8">
</head>
<body>
  <div class="app" id="app">
    <div class="console" id="console"></div>
  </div>
  <script src="index.js"></script>
</body>
